<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ store.name }} Shop &mdash; {% if page.name == 'Home' %}Selected Apparel{% else %}{{ page.name }}{% endif %}</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="{{ page.meta_description }}">
    <meta name="keywords" content="This Ain't Bristol, Shop, Online Shop, Selected Apparel, Fashion, Clothing, Apparel, T-Shirt, T-Shirts, Tee, Pullover, Crewneck, Hoodie, Prints, Accessories, Music, House, UK House, UK Garage, Garage, Bassline, Bass, Deep House, Tech House, Record Label, {{ page.meta_keywords }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="4NcTAhmUkDhDO_giX4wtJ8DA8YooFBto4LMaO7V7HGo" />

    <meta property="og:url" content="{{ page.full_url }}">
    <meta property="og:type" content="{% if page.full_url contains '/product/' %}product.item{% elsif page.full_url contains '/products' or page.full_url contains '/category/' %}product.group{% else %}website{% endif %}">
    <meta property="og:site_name" content="{{ store.name }} Shop &mdash; Selected Apparel">
    <meta property="og:title" content="{{ page.name }}">
    <meta property="og:description" content="{% if page.full_url contains '/product/' %}{{ product.description }}{% else %}{{ page.meta_description }}{% endif %}">
    <meta property="og:image" content="{% if page.full_url contains '/product/' %}{{ product.image | product_image_url }}{% else %}https://www.thisaintbristol.com/shop/images/thisaintbristol_apparel_ww2016_lookbook_2.jpg{% endif %}">

    <link href="{{ theme | theme_css_url }}" media="screen" rel="stylesheet" type="text/css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
    <script src="//cache0.bigcartel.com/api/4/api.eur.js"></script>
    <script src="{{ theme | theme_js_url }}" type="text/javascript"></script>

    {{ head_content }}
  </head>

  <body id="{{ page.permalink }}" class="{{ page.category }}">

    <header class="col1">
      <h1><a href="/" title="This Ain't Bristol Shop - Selected Apparel" class="logo">This Ain't Bristol Shop - Selected Apparel</a></h1>
      <nav class="top-nav nav-products">
        <ul class="nav-links">
          <li class="nav-link-item"><a href="/products" title="All products" class="anim-underline">All</a></li>
          {% for category in categories.active %}
          <li class="nav-link-item"><a href="{{ category.url }}" title="{{ category.name }}" class="anim-underline">{{ category.name }}</a></li>
          {% endfor %}
        </ul>
      </nav>
      <nav class="top-nav nav-overview">
        <ul class="nav-links">
          <li class="nav-link-item"><a href="/cart" title="View shopping cart" class="anim-underline" id="nav-cart-total">View cart ({{ cart.total | money_with_code }})</a></li>
          <li class="nav-link-item"><a href="/contact" title="Contact us" class="anim-underline">Contact</a></li>
        </ul>
      </nav>
    </header>

    {{ page_content }}

    <footer class="col1">
      {% assign productCount = products.all | size %}
      {% if productCount > 1 %}
      <nav class="bottom-nav nav-products">
        <ul class="nav-links">
          <li class="nav-link-item"><a href="/products" title="All products" class="anim-underline">All</a></li>
          {% for category in categories.active %}
          <li class="nav-link-item"><a href="{{ category.url }}" title="{{ category.name }}" class="anim-underline">{{ category.name }}</a></li>
          {% endfor %}
        </ul>
      </nav>
      {% endif %}
    </footer>

  </body>
</html>
