<section class="lookbook">
	{% for product in products.all %}
	{% if product.id == 10180984 %}
	<div class="carousel">
		<img src="" alt="">
		<img src="" alt="">
		<img src="" alt="">
		<img src="" alt="">
		<img src="" alt="">
	</div>
	<div class="" id="{{ product.id }}">
		<span class="title-small">Fresh in stock</span>
		<h2 class="product-title">{{ product.name }}</h2>
		<span class="divider-wave">
		<p class="product-description">{{ product.description | truncatewords: 40 }}</p>
		<h3><a href="/products" class="button-big">Shop now</a></h3>
	</div>
	{% endif %}
	{% endfor %}
</section>